@charset "UTF-8";
html {
	height: 100%;
}

body{
	background: linear-gradient(to bottom, #36454F, black);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-size: 20px;
}

nav{
	background: linear-gradient(.25turn, rgb(84, 14, 9), maroon);
	text-align: center;
}

label{
	width: 150px;
	display: inline-block;
}